{% extends 'base.html' %}

{% block content %}
  <div class='container'>
    <div class="row">
      <div class="col text-center"><h1> Patient Info </h1></div>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <table class="table table-dark">
          <thead>
            <tr>
              <th>Patient Firstname </th>
              <th>Patient Lastname </th>
            </tr>
          </thead>
          <tbody>

            {% for patient in patient_catalog %}
            <tr> 
              <td><a href= "{% url 'patientDetails' patient.patientID %}">{{ patient.patientFirstname }}</a></td>
              <td><a href= "{{ patient.get_absolute_url }}">{{ patient.patientLastname }}</a></td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
      <div class="col">
        
      </div>
    </div>

  </div>

{% endblock %}